// Colors
$body-bg:         #fff !default;
$text-color:      #FBDFB0 !default;
$black:           #1B1C1D;


$blue-light:      #1e293d;
$blue-dark:       #12192b;
$violet: 		  #6a6ae4;
$grey:			  #99a4b8;

$primary:         #2C3E50 !default;
$success:         #8dce8e !default;
$info:            #52B3D9 !default;
$warning:         #F89406 !default;
$danger :         #D64541 !default;
